@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary-color: ;
    --text_color: ;
}
html{
    font-size: 10px;
}
body{
    font-family: Inter;
    background-color: #ffffff;
    color: #0f0f0f;
}
/*common*/
.title{
    color: turquoise;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.itempretitle{
    font-size: 1.4rem;
    font-weight: 300;
}
.itemtitle{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0.8rem 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: blue;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text_color);
}
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: #f0f0f0;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max_width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap:7rem;
    }
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.profile_container{
    display: flex;
    gap:2rem;
}
.profile_profileimage{
    max-width: 250px;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    background-color: #f0f0f0;
    gap: 4rem;
}
.profile_name{
    color: turquoise;
    font-weight: 700;
    font-size: clamp(2.5rem,15vw,7rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.downloadbtn{
    display: bloack;
    text-decoration: underline;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    background-color: #f0f0f0;
    gap: 4rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.downloadbtn:hover {
    color: white;
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}
/* tech*/
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
.edu_item{
    margin-top: 2rem;
}
.grp1, .grp2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.expitem{
    margin-top: 2rem;
}
.interestitems{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interestitem{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.grp3{
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: #f0f0f0;
    gap: 4rem;
}
.info{
    font-size: 1.5rem;
}